body {
    line-height: 1.8;
    margin: 0;
    padding: 20px;
    background-color: #ececec;
    color: #222;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #fff8e1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
}



header {
    background-image: url(./img/Old-world-map.jpg);
    
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

h1{

background-color: rgba(255 , 255, 255, 0.6);


}

h1, h2 {
    color: #5a2d0c;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fef6e4;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li::before {
    content: "\2714";
    color: #8b0000;
    font-weight: bold;
    margin-right: 10px;
}

.kerdesek {
    background: #ffe4b5;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kartya {
    text-align: center;
   background: #fff8e1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.kartya:hover {
    transform: scale(1.1);
}
.kartya img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
.kartya li {
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
}
